pkgbase = ros-noetic-clear-costmap-recovery
	pkgdesc = ROS - This package provides a recovery behavior for the navigation stack that attempts to clear space by reverting the costmaps used by the navigation stack to the static map outside of a given area.
	pkgver = 1.17.3
	pkgrel = 1
	url = https://wiki.ros.org/clear_costmap_recovery
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = eigen
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-cmake-modules
	makedepends = ros-noetic-costmap-2d
	makedepends = ros-noetic-nav-core
	makedepends = ros-noetic-pluginlib
	makedepends = ros-noetic-roscpp
	makedepends = ros-noetic-tf2-ros
	depends = ros-noetic-costmap-2d
	depends = ros-noetic-nav-core
	depends = ros-noetic-pluginlib
	depends = ros-noetic-roscpp
	depends = ros-noetic-tf
	depends = eigen
	source = ros-noetic-clear-costmap-recovery-1.17.3.tar.gz::https://github.com/ros-planning/navigation/archive/1.17.3.tar.gz
	sha256sums = 6500e427f868ea63801203715f41cbec4ed1bd1f9a29ae130a74b3776a7684f6

pkgname = ros-noetic-clear-costmap-recovery
